@CHARSET "UTF-8";
.bottom{ 
		width: 100%; 
		height: 200px; 
		background-color: black; 
		float: left; 
	} 
	.bottom p{ 
		margin-left: 100px; 
		margin-top: 50px; 
		font-size: 12; 
		font-family: arial; 
		color: #404040; 
		float: left; 
	} 
	
	.bottom div li{ 
		margin-top: 10px; 
		margin-left: 10px; 
		list-style: none;
	} 
	#div1{
		float: left;
		color: #414141; 	
		margin-left:20px;	 
		font-family: 黑体; 
		font-size: 12; 
		margin-top: 40px; 		
		width: 160px;
	}
	#div1 ul{
		width: 150px;
		margin-left: 10px;
		text-decoration: none;
	}
	#div2 ul{
		width: 150px;
		margin-left: 10px;
	}
	#div2 li{
		margin-left: 0px;
	}
	#div2{ 
		color: #414141; 	
		font-family: 黑体; 
		font-size: 12; 
		margin-top: 40px; 
		float: left;
	}
	#code1{
		margin-top:50px;
		float: left;
		margin-left: 50px;
	}
	#code{ 
		margin-top:50px;
		margin-left: 30px;
		float:left;
	} 
	span{ 
		margin-left: 8px; 
		color: #414141; 	
		font-family: 黑体; 
		font-size: 12; 
		margin-top: 40px; 

	} 
	a{ 
		color:#414141;  
		text-decoration: none;
	} 