@CHARSET "UTF-8";

	*{
  		margin: 0px;
  		}
  	 body{ 
		margin: -20px; 
		width: 90%; 
		background-color: white; 
		margin-left: 5%; 
		overflow-x:hidden;
	} 
	
/* 顶部样式*/
	.top{ 
	padding-top:0px;
	width: 100%; 
	height:110px; 
	background-color:#EFEFEF;	 
	}

	.top li{
		float: left;
		list-style: none;
		width: 100px;
		line-height: 110px;
		font-size: 13px;
		
	}	
	ul{
		margin-left: 55%;
	}
	
/* 中部样式*/
	.center{ 
		width: 100%; 
		height: 800px; 	
		background-color: white; 

	} 


	#left{
		width: 14%;
		height: 400px;
		float: left;

		margin-left: 50px;
		margin-top: 40px;
	}
	#left img{
	}	
	#p1{

		float: left;
		margin-left:-6px;
		margin-right: -150px;
		color: #414141; 	
		font-family: 黑体; 
		font-size: 13; 
		margin-top: 0px;
	}
	#p2{
		float: left;
		margin-left:-6px;
		margin-right: -150px;
		color: #414141; 	
		font-family: 黑体; 
		font-size: 13; 
		margin-top: 0px;
	}
	#p3{
		float: left;
		margin-left:-6px;
		margin-right: -150px;
		color: #414141; 	
		font-family: 黑体; 
		font-size: 13; 
		margin-top: 0px;
	} 
	#p4{
		float: left;
		margin-left:-6px;
		margin-right: -150px;
		color: #414141; 	
		font-family: 黑体; 
		font-size: 13; 
		margin-top: 0px;
	} 
	#right1{
		width: 900px;
		height: 720px;
		margin-top: 80px;
		margin-left: 220px;	
		position: static;
	}
	#right1 div{
		float: left;
	}
	#right2{
		width: 900px;
		height: 720px;
		margin-top: 80px;
		margin-left: 220px;	
		position: static;
	}
	#right2 div{
		float: left;
	}
	#right3{
		width: 900px;
		height: 720px;
		margin-top: 80px;
		margin-left: 220px;	
		position: static;
	}
	#right3 div{
		float: left;
	}
	#right4{
		width: 820px;
		height: 720px;
		margin-top: 50px;
		margin-left: 280px;	
		position: static;
	}
	#right4 div{
		float: left;
	}
	#right4_top{
		width: 805px;
		height: 300px;
	}
	#right4_bottom{
		width: 820px;
		height: 365px;
	}
	#out_pic{
		margin-top: -360px;
	}
	#out_pic1{
		margin-left: 180px;
		margin-top: -360px;
	}
	
/*视频部分*/
	#vintroduce{
		color: #414141; 	
		font-family: 黑体; 
		font-size: 13; 
		text-align: center;
		margin-top: 10px;
	}
	#smallvideo{
		margin-bottom:25px;
		margin-right:13px;
		

		float: left;
	}
	#embed{
		width: 260px;
		height: 145px;
	}